/* AppContainer.css */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #efefef;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-between;
  
  height: 60vh;
  max-width: 60vw; /* Anpassa max-bredden efter behov */
}

/* TodoItem.css */
.todo-item {
  padding: 16px;
  border-radius: 8px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root{
  background-color: #dddcff;
  max-width: 60vw;

}
.complete {
  color: #5ece78;
  outline-style: dotted;
  padding: 8px;
}

/* TodoForm.css */
.todo-form {
  padding: 16px;
  display: flex;
  flex-direction: column; /* Ändra riktningen på kolumn för mobil */
  align-items: align-items;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}

.todo-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px; /* Lägg till lite marginal nedåt */
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
}


footer {
  position:absolute;
  padding-top: 20px;
  bottom:0;
  height: 10vh;
  }